/* CSS aplicado apenas aos fragmentos 
   IDEIA: container centralizado, fonte de leitura fácil justificada, fluidez.
*/

@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');

body {
    font-family: 'Cantarell', sans-serif;
}

/* container da leitura*/
main {
    box-sizing: border-box;
    width: 50%;
    margin: 0 25% 0 25%;
    text-align: justify;
}

/* header */
header {
    text-align: center;
}

/* footer de links */
footer {
    text-align: center;
}

/* estilização de texto */
.authorComments {
    font-style: italic;
}


@media screen and (max-width: 1000px) {
    main {
        width: 90%;
        margin: 0 5% 0 5%;
    }
}